<component-back-link></component-back-link>
<br />

<div class="flex justify-between">
    <h1 class="text-3xl font-bold text-white my-4">Users admin</h1>
    <button (click)="openModalCreateFlag = true" class="border border-lime-600 text-lime-600 py-2 px-4 rounded my-4">Add user +</button>
</div>

<form [formGroup]="formSearch">
    <div class="mt-5 mb-5 flex justify-end"></div>
    <input
        class="mr-2.5 h-full min-h-[54px] w-full rounded-lg border px-5 py-5 text-sm font-medium focus:outline-0 border-lime-200 bg-transparent text-white placeholder:text-zinc-400"
        placeholder="Search user..."
        formControlName="user"
    />
</form>

<link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet"
/>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
<div class="flex justify-center min-h-screen">
    <div class="w-full">
        <div class="overflow-auto lg:overflow-visible">
            <table class="table w-full text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-gray-800 text-gray-500">
                    <tr>
                        <th class="p-3 text-white text-left">ID</th>
                        <th class="p-3 text-white text-left">Firstname</th>
                        <th class="p-3 text-white text-left">Lastname</th>
                        <th class="p-3 text-white text-left">Email</th>
                        <th class="p-3 text-white text-left">Role</th>
                        <th class="p-3 text-white text-left">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="users.length > 0">
                    <tr *ngFor="let user of users" class="bg-gray-800">
                        <td class="p-3 font-bold text-white">{{ user.id }}</td>
                        <td class="p-3 font-bold text-white">{{ user.firstName }}</td>
                        <td class="p-3 font-bold text-white">{{ user.lastName }}</td>
                        <td class="p-3 font-bold text-white">{{ user.email }}</td>
                        <td class="p-3 font-bold text-white">
                            <span class="text-white hover:text-gray-100 mr-2">{{ user.role }}</span>
                        </td>
                        <td class="p-3">
                            <a (click)="openUserCardModal(user)" class="icon-link text-white hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">visibility</i>
                            </a>
                            <a (click)="openUserUpdateModal(user)" class="icon-link text-white hover:text-gray-100 mx-2">
                                <i class="material-icons-outlined text-base">edit</i>
                            </a>
                            <a (click)="openUserDeleteModal(user)" class="icon-link text-white hover:text-gray-100 ml-2">
                                <i class="material-icons-round text-base">delete_outline</i>
                            </a>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="users.length == 0">
                    <p>Users not found</p>
                </tbody>
            </table>

            <div class="flex justify-end">
                <span>page {{ currentPage }}</span>
            </div>

            <div class="m-10 flex justify-center">
                <nav aria-label="Page navigation example">
                    <ul class="flex list-style-none">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a
                                (click)="changePage(currentPage - 1)"
                                class="page-link"
                                [attr.tabindex]="currentPage === 1 ? -1 : null"
                                aria-disabled="currentPage === 1"
                            >
                                Previous
                            </a>
                        </li>

                        <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="currentPage === i + 1">
                            <a
                                (click)="changePage(i + 1)"
                                class="page-link"
                                [ngClass]="{ 'bg-lime-600 text-white': currentPage === i + 1, 'hover:bg-gray-200': currentPage !== i + 1 }"
                            >
                                {{ i + 1 }}
                            </a>
                        </li>

                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a
                                (click)="changePage(currentPage + 1)"
                                class="page-link"
                                [attr.tabindex]="currentPage === totalPages ? -1 : null"
                                aria-disabled="currentPage === totalPages"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<component-modal-user-card [open]="openModalViewFlag" (openChange)="openModalViewFlag = $event" [user]="userSelect"></component-modal-user-card>
<component-modal-user-update
    [open]="openModalUpdateFlag"
    (openChange)="openModalUpdateFlag = $event"
    [user]="userSelect"
    (refreshList)="reloadUserList()"
></component-modal-user-update>
<component-modal-user-delete
    [open]="openModalDeleteFlag"
    (openChange)="openModalDeleteFlag = $event"
    [user]="userSelect"
    (refreshList)="reloadUserList()"
></component-modal-user-delete>
<component-modal-user-create
    [open]="openModalCreateFlag"
    (openChange)="openModalCreateFlag = $event"
    (refreshList)="reloadUserList()"
></component-modal-user-create>
